span.step {
    background: #ff6514;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em;
}

html {
    overflow: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

body {
    width: 100vw;
    max-width: 100%;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* desactivar boton chromecast */
video::-internal-media-controls-overlay-cast-button {
    display: none;
}

.recordatorio-geo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

i.icono-geo {
    font-size: 55px;
    color: #fa4729;
}

.txt-recordatorio-geo p {
    text-align: left;
    font-size: 18px;
}
